.httpMethod {
    width: 20%;
}

.uriPath {
    width: 70%;
}

.sampleArea {
    width: 95%;
}

#testClientButton {
    position: fixed;
    right: 0;
    bottom: 0;
    display: block;
    font-size: x-large;
}

table .test-client {
    width: 100%;
    border-collapse: collapse;
}

.test-client input {
    width: 100%;
    margin: 0 0 5px 0;
}

.test-client td {
    padding: 0 15px 0 0;
    margin: 0;
}

select {
    margin-top: 10px;
}

.panels {
    max-height: 120px;
    overflow: auto;
}